.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  padding: 2rem;
  min-height: 100vh;
}

h1 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

h3 {
  color: var(--text-color);
  margin: 4rem 0 2rem 0;
}

p {
  color: var(--text-color);
  text-align: center;
  max-width: 600px;
  line-height: 1.6;
}

ol {
  text-align: left;
  max-width: 600px;
  color: var(--text-color);
  border: 2px dashed var(--text-color);
  border-radius: var(--border-radius);
  padding: 2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  li {
    margin-bottom: 1rem;
  }
}

strong {
  text-decoration: underline;
}

app-file-upload-section,
app-excel-upload-section {
  display: block;
  width: 100%;
}

app-sequence-conflict-list {
  display: flex;
  justify-content: center;
  width: 100%;
}
