<div class="container">
  <h1>Compas - Youforce dienstverband conversie</h1>
  <p>
    Vergelijkt dienstverbandnummers uit de Compas export (DPIA100 tekst bestanden) met actieve
    dienstverbanden zoals bekend in Youforce. Indien voor een personeelsnummer een afwijkend
    dienstverband wordt gevonden, zal deze worden aangepast naar het Youforce dienstverband.
  </p>
  <ol>
    <h3>Sluit dit tabblad <strong>niet</strong> voordat alle DPIA100 bestanden verwerkt zijn!</h3>
    <li>
      Upload een actueel excel bestand met actieve dienstverbanden uit Youforce (rapport: "Medewerkerslijst (Operationeel)", met filter "Status in dienst": Actief). Pas dit bestand niet handmatig aan, upload het zoals het uit Youforce komt!
      <strong>Deze stap hoeft slechts 1x per sessie gedaan te worden</strong>.
    </li>
    <li>Upload een DPIA100 .TXT bestand. <strong>Herhaal deze stap voor CAD/CA2/WSW</strong>.</li>
    <li>
      Controleer de verwerkte data en download het aangepaste bestand.
      <strong>Herhaal deze stap voor CAD/CA2/WSW</strong>.
    </li>
    <li>
      Sla de aangepaste bestanden op in een map "aangepast", overschrijf de originele DPIA100
      bestanden niet!
    </li>
    <li>
      Volg de Youforce import werkbeschrijving en gebruik de bestanden uit de "aangepast" map.
    </li>
  </ol>

  <app-excel-upload-section (lookupData)="setLookupData($event)"></app-excel-upload-section>

  @if(lookupData() !== null && lookupData()!.length !== 0) {
  <app-file-upload-section
    [loading]="loading()"
    [error]="error()"
    [selectedFile]="selectedFile()"
    (fileSelected)="onFileSelected($event)"
    (processFile)="processFile()"
    (downloadFile)="downloadFile()"
  ></app-file-upload-section>
  } @if (error()) {
  <div class="error-message">
    <p>{{ error() }}</p>
  </div>
  }

  <app-sequence-conflict-list [conflicts]="sequenceConflicts()"></app-sequence-conflict-list>

  @if (processedContent() && sequenceConflicts().length === 0) {
  <app-download-section
    [processedContent]="processedContent()"
    [originalFileSize]="originalFileSize()"
    [newFileSize]="newFileSize()"
    (downloadFile)="downloadFile()"
  ></app-download-section>
  } @if (updatedLinesInfo().length > 0) {
  <h3>Aangepaste regels ({{ updatedLinesInfo().length }}):</h3>
  } @if(processedContent() !== null && originalContent() !== null && sequenceConflicts().length ===
  0) {
  <app-file-diff-viewer
    [originalContent]="originalContent()!"
    [updatedContent]="processedContent()!"
  ></app-file-diff-viewer>
  }
</div>
