.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  padding: 2rem;
  min-height: 100vh;
}

h1 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

h3 {
  color: var(--text-color);
  margin: 1rem 0 2rem 0;
}

p {
  color: var(--text-color);
  text-align: center;
  max-width: 600px;
  line-height: 1.6;
}

ol {
  text-align: left;
  max-width: 600px;
  color: var(--text-color);
  border: 2px dashed var(--text-color);
  border-radius: var(--border-radius);
  padding: 2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  li {
    margin-bottom: 1rem;
  }
}

strong {
  text-decoration: underline;
}

app-file-upload-section,
app-excel-upload-section,
app-download-section {
  display: block;
  width: 100%;
  position: relative;
  max-width: 800px;
}

app-sequence-conflict-list {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

app-excel-upload-section::before {
  content: '1';
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border-radius: 50%;
  border: 3px solid var(--text-color);
}

app-file-upload-section::before {
  content: '2';
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border-radius: 50%;
  border: 3px solid var(--text-color);
}

app-download-section::before {
  content: '3';
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border-radius: 50%;
  border: 3px solid var(--text-color);
}
