<div class="container">
  <h2>DPIA100 bestand volgnummer updater</h2>
  <p>
    Selecteer een DPIA100 .txt bestand om de volgnummers, waar nodig, aan te passen naar de in
    Youforce bekende volgnummers.
  </p>

  <app-file-upload-section
    [loading]="loading()"
    [error]="error()"
    [selectedFile]="selectedFile()"
    (fileSelected)="onFileSelected($event)"
    (processFile)="processFile()"
    (downloadFile)="downloadFile()"
  ></app-file-upload-section>

  @if (error()) {
  <div class="error-message">
    <p>{{ error() }}</p>
  </div>
  }

  <app-sequence-conflict-list [conflicts]="sequenceConflicts()"></app-sequence-conflict-list>

  @if (processedContent() && sequenceConflicts().length === 0) {
  <app-download-section
    [processedContent]="processedContent()"
    [originalFileSize]="originalFileSize()"
    [newFileSize]="newFileSize()"
    (downloadFile)="downloadFile()"
  ></app-download-section>
  } @if (updatedLinesInfo().length > 0) {
  <h3>Aangepaste regels ({{ updatedLinesInfo().length }}):</h3>
  } @if(processedContent() !== null && originalContent() !== null && sequenceConflicts().length ===
  0) {
  <app-file-diff-viewer
    [originalContent]="originalContent()!"
    [updatedContent]="processedContent()!"
  ></app-file-diff-viewer>
  }
</div>
